<div class="form-overlay">
  <div class="wrapper">
    <div class="close-btn"></div>
    <h3>Vielen Dank für Ihr Interesse. Aktuell ist das Produkt noch im  Aufbau, und freuen uns Ihnen Bescheid zu geben,
      sobald es los geht.</h3>
    <form id="form-submit" action="destination.html">
      <input id="firstname" class="small-input" type="text" placeholder="Vorname" required />
      <input id="lastname" class="small-input" type="text" placeholder="Nachname" required />
      <input id="mail-input" type="email" placeholder="Email Adresse" required />
      <input id="phone-input" type="tel" placeholder="Telefonnummer" required />
      <div class="data-privacy row">
        <div class="col-xs-12">
          <label class="container">
            <input type="checkbox" required />
            <span class="checkmark"></span>
          </label>
          <p class="checkboxtext">
            Hiermit stimme ich den
            <a href="/datenschutz-ch.html">Datenschutzbestimmungen</a> zu
          </p>
        </div>
      </div>
      <button class="button-primary" type="submit">
        Absenden
      </button>
    </form>
  </div>
</div>
<div class="disable-content">
</div>