<section class="car-offer">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2>Junge Gebrauchte</h2>
      <p>
        Wir wollen euch so oft wie möglich ein ganz besonders attraktives
                                                                                                                                                        Angebot machen. Dafür sind wir permanent auf der Suche nach den 
                                                                                                                                                        besten Preisen.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <img class="car-img" src="/images/{{img}}"/>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="car-name">{{carName}}</div>
        </div>
        <div class="col-xs-4">
          <div class="row">{{price}}</div>
          <div class="row">pro Monat</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <button class="button-primary">tst</button>
    </div>
  </div>
</section>
