<section class="header">
  <div class="hero">
    <div class="row">
      <img src="/images/header-img.jpg">
    </div>
  </div>

  <div class="banner">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="wrapper">
          <h2>AboAuto</h2>
          <h1>AboAuto - viel Auto für wenig Geld.</h1>
          <h2>Alles inklusiv &amp; trotzdem günstig</h2>
          <p>Im monatlichen Abo-Preis sind alle Kosten außer Tanken inklusive. <strong>Das ist drin:</strong>
            <div class="listing row">
              <ul class="col-xs-6">
                <li>Versicherung, Vollkasko 0€ SB</li>
                <li>12.000 km pro Jahr (erweiterbar)</li>
                <li>Alle Kosten für anfallende Schäden </li>
              </ul>
              <ul class="col-xs-6">
                <li>Wartung &amp; Verschleiß</li>
                <li>Inspektion</li>
                <li>Steuern</li>
                <li>Zulassung &amp; HU</li>
                <li>Reifen</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="facts">
    <div class="row">
      <div class="wrapper col-xs-12 col-sm-6 col-sm-offset-6">
        <div class="row">
          <div class="col-xs-6">
            <p><strong>Planbar</strong></p>
            <p>Eine monatliche Gebühr und sonst nichts.</p>
          </div>
          <div class="col-xs-6">
            <p><strong>Schadensgarantie </strong></p>
            <p>Alle Schäden sind immer kostenfrei für Sie.</p>
          </div>
        </div>
        <button class="button-primary">Zu den Autos</button>
      </div>
    </div>
  </div>
</section>