.car-img {
  width: 100%;
}

.car-details {
  display: flex;;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 28px;
}

.car-name {
  flex: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.car-price {
  flex: 0;
  text-align: right;
  font-weight: 900;
  font-size: 27px;
  line-height: 32px;
}

.car-per-month {
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #717171;
}

.car-more-details-button {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 45px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  width: 80%;
  margin: 0 10%;
  padding: 4px 0;
}