<div class="car col-xs-12 col-sm-4">
  <img src="./images/{{img}}" class="car-img" />
  <div class="car-details">
    <div class="car-name">{{carName}}</div>
    <div class="car-price-block">
      <div class="car-price"><span>{{price}} €</span></div>
      <div class="car-per-month"><span>pro Monat</span></div>
    </div>
  </div>
  <div class="car-more-details">
    <button class="car-more-details-button">Mehr Details</button>
  </div>
</div>