<div class="car-block-header-container">
  <img src="./images/{{icon}}" class="car-block-side-img">
  <h2 class="car-block-header">
    {{header}}
  </h2>
  <h3 class="car-block-sub-header">
    {{subheader}}
  </h3>
</div>