<section class="car-block-container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      {% block header %} {% endblock %}
    </div>
  </div>

  <div class="row">
    {% block cars %} {% endblock %}
  </div>
  <div class="show-more-container">
    <span class="show-more-text">Mehr Modelle anzeigen</span>
    <img src="./images/arrow.png" class="show-more-arrow" />
  </div>
</section>